weights/
*.pt
*.pth
*.ptl
*.pthl
*.ptm
*.pthm

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/

# Virtual Environment
venv/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
*.db

.cursorrules
.cursorignore
