# Deep Learning & Machine Learning
tensorflow-cpu>=2.13.0  # Using CPU version to reduce size
ultralytics>=8.0.0  # For YOLO

# Computer Vision
opencv-python-headless>=4.8.0  # Headless version to reduce size

# Scientific Computing
numpy>=1.24.0
scipy>=1.11.0

# AWS
boto3>=1.33.0

# Web Framework
flask==2.3.3

# Utils
tqdm>=4.65.0
pathlib>=1.0.1


